.tópicos {
    background: var(--rosa-claro); /* Alterado para o rosa pastel suave */
    text-align: center;
    padding: 2em 1em;
}

.tópicos__titulo {
    color: var(--preto-suave); /* Texto em preto suave */
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1.5em;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em; /* Espaçamento entre itens */
}

.tópicos__item {
    margin: 1.5em 0.5em;
}

.tópicos__link {
    color: var(--branco);
    padding: 1em 2em;
    background-color: var(--azul-escuro); /* Fundo azul escuro para contraste */
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adicionando uma sombra leve */
    transition: background-color 0.3s, transform 0.2s;
}

.tópicos__link:hover {
    background-color: var(--laranja-claro); /* Cor de destaque ao passar o mouse */
    transform: scale(1.05); /* Efeito de leve aumento */
}

@media screen and (min-width: 1024px) {
    .tópicos {
        padding: 3em 2em;
    }

    .tópicos__titulo {
        font-size: 2rem; /* Tamanho maior do título */
    }

    .tópicos__link {
        font-size: 1.2rem; /* Tamanho maior do link */
    }
}

@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 4em 20vw; /* Espaçamento maior em telas grandes */
    }

    .tópicos__titulo {
        font-size: 2.5rem;
    }

    .tópicos__link {
        font-size: 1.5rem;
    }
}
